body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium';
    background-color: #e54141;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-style: bold;
}

p {
    text-align: center;
    margin-top: 15%;
    color:#570505;
}

form {
    padding: 15px;
}

label {
    display: block;
    color: #ddcfcf;
}

button {
    width: 10%;
    padding: 2px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #c08686;
}

.navbar {
    background-color:#e54141 !important;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
    color:#570505;
}

.navbar-brand, .navbar-nav, .nav-link {
    color: black !important;
    font-family: 'Arial';
}

.navbar-nav .nav-item {
    display: inline-block;
}

.navbar-nav .nav-link {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nav, .nav-link:hover {
    color: white !important;
}

/* Making the dropdown items appear on hover instead of click */
.navbar .dropdown {
    position: relative;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    background-color: #e54141;
    border: none;
}

.navbar .dropdown-item {
    color: #570505;
}

.navbar .dropdown-item:hover {
    background-color: #570505;
    color: white;
}